.navbar{
 height: 80px;
 display: flex;
 align-items: center;
 background-color: #fc4503;
 justify-content: space-evenly;
}

.navList{
    list-style: none;
}

.link{
    text-decoration: none;
    list-style: none;
    font-size: larger;
    background-color: #fc4503;
    color: white;
}

.link:hover{
    color: #850503;
}